*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #181a1b;
	color: white;
}

.gameboards-container {
	display: flex;
	justify-content: center;
	gap: 150px;
	& > .gameboard {
		display: grid;
		grid-template-columns: repeat(10, 35px);
		grid-template-rows: repeat(10, 35px);
		gap: 1px;
	}
	& > .gameboard > div {
		outline: 1px solid rgb(17, 153, 17);
	}
	& > .gameboard > div.ship {
		background-color: lime;
	}
	& > .gameboard > div.missed {
		background-color: gray;
	}
	& > .gameboard > div.hit {
		background-color: red;
	}
}
