*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #181a1b;
	color: white;
	gap: 100px;
	& > header {
		padding-top: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		& > .title {
			font-size: 30px;
			font-weight: bold;
		}
		& > .game-status {
			background-color: rgb(40, 39, 39);
			width: 300px;
			font-size: 19px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& .rules > a {
			color: lightgray;
		}
	}
}

.gameboards-container {
	display: flex;
	justify-content: center;
	gap: 150px;
	& .gameboard-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	& .gameboard {
		display: grid;
		grid-template-columns: repeat(10, 35px);
		grid-template-rows: repeat(10, 35px);
		gap: 1px;
	}
	& .gameboard > div {
		outline: 1px solid rgb(17, 153, 17);
	}
	& .gameboard > div.ship {
		background-color: lime;
	}
	& .gameboard > div.missed {
		background-color: gray;
	}
	& .gameboard > div.hit {
		background-color: red;
	}
}
